.App {
  padding-top: 200px;
  text-align: center;
  height: 200px;
}

.tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.tiles:nth-child(2n) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.tileRow {
  width: 130px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tileRow:nth-child(2n) {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.html {
  height: 100vh;
}

